<h1>EasyJobs</h1>
<form>
  <input type="text" placeholder="Search keywords & location" class="search-box">
  <app-dropdown-menu 
    [name]="'employment-type'"
    [options]="employmentTypeOptions"
  ></app-dropdown-menu>
  <app-dropdown-menu 
    [name]="'experience-required'"
    [options]="experienceRequiredOptions"
  ></app-dropdown-menu>
  <app-dropdown-menu 
    [name]="'date-posted'"
    [options]="datePostedOptions"
  ></app-dropdown-menu>
  <button type="submit" class="search-button">
    <fa-icon [icon]="faSearch"></fa-icon>
    Search
  </button>
</form>