:host {
  background: #6c78d5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  z-index: 100;
}
h1 {
  margin-left: 60px;
  text-transform: uppercase;
  color: #ffffff;
}
form {
  display: flex;
  flex: 1;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.search-button {
  padding: 8px 20px;
  padding-left: 12px;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  gap: 36px;
  border: 1px solid #e5a82d;

  font-weight: 700;
  font-size: 16px;

  &:active { 
    opacity: 0.8;
  }
}

.search-box {
  width: 200px;
  padding: 8px;
  font-size: 16px;
}