<h1 (mouseover)="randomizeLogo()">{{logo}}</h1>
<form [formGroup]="formData">
  <input 
    type="text" 
    placeholder="Search keywords, location" 
    class="search-box" 
    name="query"
    id="query"
    formControlName="query"
  >
  <select *ngFor="let dropdown of dropdowns" 
    [name]="dropdown.name" 
    [id]="dropdown.name" 
    [formControlName]="dropdown.name"
  >
    <option *ngFor="let option of dropdown.options" [ngValue]="option.value">{{option.label}}</option>
  </select>
  <button 
    type="submit" 
    class="search-button" 
    (click)="searchJobs()" 
    [disabled]="isRefreshing"
    [ngStyle]="isRefreshing ? {
      backgroundColor: '#ccc',
      borderColor: 'transparent',
      pointerEvents: 'none'
    } : {}"
  >
    <fa-icon [icon]="faSearch"></fa-icon>
    Search
  </button>
</form>