.container {
  display: flex;
  padding: 0 20px;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  height: 80px;
  border-radius: 4px;
}

.selected {
  // offsets the border inward
  border: 1px solid transparent;
  -webkit-box-shadow:inset 0px 0px 0px 2px rgb(175, 175, 175);
  -moz-box-shadow:inset 0px 0px 0px 2px rgb(175, 175, 175);
  box-shadow:inset 0px 0px 0px 2px rgb(175, 175, 175);
}

* {
  white-space: nowrap;
  min-width: 0;
  overflow: hidden;
  user-select: none;
}

img {
  width: 40px;
  height: 40px;
}
.text-container {
  flex: 1;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
  flex: 1;
}

.date {
  opacity: 0.7;
}