<div [ngClass]="selected ? 'selected' : ''" class="container" (click)="onClick()">
  <div class="text-container">
    <div class="row">
      <h3>{{job_title}}</h3>
      <span *ngIf="job_location !== ''">{{job_location}}</span>
    </div>
    <div class="row">
      <span>{{job_employer_name}}</span>
      <span *ngIf="job_posted_at_datetime_utc" class="date">
        <fa-icon [icon]="faClock"></fa-icon>
      {{job_posted_at_datetime_utc | intlRelativeTime: {} }}</span>
    </div>
  </div>
</div>

