.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  padding: 1px;
  border-radius: 8px;
  flex-grow: 1;
  border: 0 solid transparent;
  border-width: 48px 100px;
  
  -webkit-box-shadow:inset 0px 0px 0px 2px rgb(175, 175, 175);
  -moz-box-shadow:inset 0px 0px 0px 2px rgb(175, 175, 175);
  box-shadow:inset 0px 0px 0px 2px rgb(175, 175, 175);
}