<div *ngIf="postList && postList[selected]">
  <div class="post-header">
    <div class="header-left">
      <span class="posted-date" *ngIf="postList[selected].job_posted_at_datetime_utc">{{"Posted On " + postList[selected].job_posted_at_datetime_utc}}</span>
      <h2>{{postList[selected].job_title}}</h2>
      <h4>{{postList[selected].job_location}}</h4>
      <h4>{{postList[selected].job_employment_type}}</h4>
      <div *ngIf="postList[selected].job_min_salary && postList[selected].job_max_salary">
        <span>{{postList[selected].job_min_salary + ' - '}}</span>
        <span>{{postList[selected].job_max_salary + ' '}}</span>
        <span>{{postList[selected].job_salary_currency}}</span>
        <span>{{'/ per' + postList[selected].job_salary_period}}</span>
      </div>
      
      <h4>{{postList[selected].job_required_experience}}</h4>
    </div>
    <div class="header-right">
      <a [href]="postList[selected].job_apply_link" target="_blank" rel="noopener noreferrer">
        <button class="apply-button" type="submit">Apply</button>
      </a>
      <p *ngIf="postList[selected].job_offer_expiration_datetime_utc">{{"Deadline on " + postList[selected].job_offer_expiration_datetime_utc}}</p>
      <a href="">save job</a>
    </div>
  </div>
  
  <p *ngFor="let desc of getJobDescriptionArray()">{{desc}}</p>
  <div *ngFor="let highlight of postList[selected].job_highlights | keyvalue">
    <h4>{{highlight.key}}</h4>
    <p>{{highlight.value}}</p>
  </div>
</div>